@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind utilities;

h1,
h2,
h3,
h4,
p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
p.bold {
  font-weight: 700;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1rem;
  font-weight: 500;
}

p.small {
  font-size: 0.85rem;
}
